.container
  .row{style:"margin-top:40px"}
    .col-lg-1
    .col-lg-7
      %h4
        %img{src: "http://www.pennywhale.com/img/nav-logo.png"}
        Penny
        %span{style:"color:#4EC4F2;margin-left:-3px"}
          Whale
    .col-lg-1
