.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to "PennyWhale", "#"
      %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar