= render 'navbar'

.container
  .row
    .col-lg-3
    .col-lg-6
      %h2 FAQ's
      %br
      .list-group
        %a.list-group-item{href: "#"}
          %h4.list-group-item-heading How do I search for data?
          %p.list-group-item-text Structure your query like a natural question. Tag the security with a '$'. ex. 'What's the PE Ratio for $AAPL?'
        %a.list-group-item{href: "#"}
          %h4.list-group-item-heading How do I search for multiple securities?
          %p.list-group-item-text Just keep adding them to your search. ex. 'Show me the revenue for $AAPL and $TSLA and $GOOG'
        %a.list-group-item{href: "#"}
          %h4.list-group-item-heading What data can I search for?
          %p.list-group-item-text
            %ul
              - @intents.each do |intent|
                %li
                  = intent
                
        %a.list-group-item{href: "#"}
          %h4.list-group-item-heading Which funds do you have holdings data for?
          %p.list-group-item-text 
            %ul
              %li Alex Roepers - Atlantic Investment Management 
              %li Allan Mecham - Arlington Value Capital  
              %li Arnold Van Den Berg - Century Management Advisers
              %li Bill Ackman - Pershing Square Capital Management  
              %li Bill Nasgovitz - Heartland Select Value 
              %li Bill Nygren - Oakmark Select    
              %li Bruce Berkowitz - Fairholme Fund  
              %li Charles Bobrinskoy - Ariel Focus  
              %li Charlie Munger - Daily Journal Corp.  
              %li Christopher Davis - Clipper 
              %li Chuck Akre - Akre Capital Management  
              %li Daniel Loeb - Third Point 
              %li David Einhorn - Greenlight Capital  
              %li David Katz - Matrix Advisors Value  
              %li David Rolfe - Wedgewood Partners  
              %li David Tepper - Appaloosa Management 
              %li David Winters - Wintergreen Advisers  
              %li Dodge & Cox Team - Dodge & Cox  
              %li Donald Yacktman - Yacktman Focused Fund 
              %li Eddie Lampert - RBS Partners  
              %li Glenn Greenberg - Brave Warrior Advisors  
              %li Harry Burn - Sound Shore  
              %li Ian Cumming - Leucadia National
              %li Irving Kahn - Kahn Brothers Group 
              %li Jean-Marie Eveillard - First Eagle U.S. Value 
              %li Jeffrey Ubben - ValueAct Capital  
              %li John Rogers - Ariel Appreciation  
              %li Lou Simpson - SQ Advisors 
              %li Mark Hillman - Hillman Focused  
              %li Mason Hawkins - Longleaf Partners 
              %li Meridian Funds - Meridian Contrarian Fund 
              %li Michael Larson - Bill & Melinda Gates Foundation Trust  
              %li Michael Price - MFP Investors 
              %li Mohnish Pabrai - Pabrai Investments 
              %li Prem Watsa - Fairfax Financial Holdings 
              %li Richard Pzena - Hancock Classic Value 
              %li Robert Goldfarb, David Poppe - Sequoia  
              %li Robert Olstein - Olstein Value
              %li Robert Rodriguez - FPA Capital
              %li Robert Torray - Torray  
              %li Robert Zagunis - Jensen 
              %li Ronald Muhlenkamp - Muhlenkamp  
              %li Sam Peters - ClearBridge Value Trust  
              %li Seth Klarman - Baupost Group  
              %li Stephen Mandel - Lone Pine Capital  
              %li Steven Romick - FPA Crescent Fund 
              %li Thomas Gayner - Markel Asset Management 
              %li Thomas Russo - Gardner Russo & Gardner  
              %li Tweedy Browne Team - Tweedy Browne Value
              %li Wallace Weitz - Weitz Value
              %li Warren Buffett - Berkshire Hathaway 
              %li Whitney Tilson - T2 Partners Management
              %li William Frels - Mairs & Power Growth  
              %li William Fries, Connor Browne - Thornburg Value
              %li William Von Mueffling - Cantillon Capital Management                              
    .col-lg-3