= render 'navbar'
.container.vertical-center
  = render 'remaining_queries'
  = render 'search_form'
  .row{align:"center"}
    %p.lead{style:"color:#686966;font-size:18px"}
      %span#changer
        Show me the PE Ratios for $AAPL vs $GOOG

