= render 'app/queries/navbar'

.container{style:"margin-top:50px"}
  .row
    .col-lg-2
    .col-lg-8
      %h3 PennyWhale Privacy Policy
      %br
      .list-group
        .list-group-item{href: "#"}
          %p.list-group-item-text Your privacy is important to us, and maintaining your trust and assurance among us is one of our highest priorities. PennyWhale respects the right to keep your personal information private and respects the right to safeguard the information of our clients. Please take a moment to review our privacy policy to better understand what we do with the information you provide us and how we safeguard it for you. 
          %p.list-group-item-text
            %strong What we collect
            PennyWhale collects the clients email address and keeps record of the user queries. The purpose of collecting client emails is to keep them informed of any changes and or additions to www.pennywhale.com. We make it a priority to keep users informed of any major changes that may affect their experience with our site. User queries are collected to better enhance the user experience. We take note of what our clients are viewing in order to make any necessary changes that may enrich a popular feature.
          %p.list-group-item-text
            %strong Who we disclose to: 
            PennyWhale does not intend to disclose personal information about our users to anyone. However, information may be disclosed in the following situations: 
            %ul
              %li In case of a valid subpoena or summon, information may be handed over to demanding government officials. 
              %li In a court review of PennyWhale practices or under a state or national licensing board, information may be handed cautiously to appropriate officials.  
              %li In conjunction with a merger, purchase, or sale, information may be handed over to facilitate the process.
              %li In case of threatened legal proceedings against PennyWhale, only the necessary information required to file, pursue, or defend PennyWhale will cautiously be provided.  
              %li If a third party firm provides services or functions that will benefit the users of PennyWhale, only the necessary information will be handled over if the third party agrees to a nondisclosure agreement. 
          %p.list-group-item-text
            %strong Confidentiality:
            Except as otherwise described in this notice, we restrict access to nonpublic personal information about our clients to employees and third parties involved with our firm. Their right to the disclosure of user information is subject to our approval and the policies of PennyWhale. 
          %p.list-group-item-text
            Thank you for choosing PennyWhale for your financial needs. It is a pleasure to have your business and we are committed to serving you and protecting your privacy. Please contact us if you have any further questions or if we can assist you in any other way. 
          %p.list-group-item-text Best Regards, 
          %p.list-group-item-text PennyWhale
    .col-lg-2
