= render 'app/queries/navbar'

.container{style:"margin-top:50px"}
  .row
    .col-lg-2
    .col-lg-8
      %h3 PennyWhale Terms of Use
      %br
      .list-group
        .list-group-item{href: "#"}
          %p.list-group-item-text Blah blah boring legal shit
    .col-lg-2
