= render 'app/queries/navbar'

.container{style:"margin-top:50px"}
  .row
    .col-lg-2
    .col-lg-8
      %h3 PennyWhale Terms of Service
      %br
      .list-group
        .list-group-item{href: "#"}
          %p.list-group-item-text This Terms of Service Agreement is an agreement between you (the user) and us (PennyWhale). We provide users access to financial resources to help the make sound decisions with regard to investments. Please take the time to read the agreement below and if you have any questions please contact us and let us know. This agreement explains our obligations to you, and your obligations to us. By using this site in anyway, you agree to comply with these terms, our Privacy Policy, and any other legal notices posted on the site. 
          %p.list-group-item-text
            %strong 1. Ownership 
            All material and services available on the site, and all material and services provided by or through PennyWhale, its employees, subsidiaries, affiliates, agents, licensors or other commercial partners including, but not limited to, software, all informational text, design, software documentation, site layout, graphics, audio, video, messages, messaging, files, documents,  or other materials, are owned by us or other affiliates that have licensed their works or provided services to us. These are subject to copyright, patent, trade secret, or any other various intellectual property laws.  
          %p.list-group-item-text
            %strong 2. Right to use what we own 
            Regarding this agreement, PennyWhale grants you a limited non-transferable license to use the Materials on our site granted you used your maximum ten queries (subject to change) and created an account with us. This license does not permit you to copy, store, reproduce, publish, modify, rent, lease, loan, sell, distribute, reverse engineer, decipher, or otherwise attempt to discover any programming code or source used in or within our site. Any use of the materials on our site for any purpose other than as specifically permitted without prior consent from PennyWhale is prohibited. 
          %p.list-group-item-text
            PennyWhale will issue you an account once you have provided the necessary information and paid for our services. You may not distribute, reproduce, or enter in anyone else’s account information and must agree to not disclose your information for others to access our site. Everyone must have an individual account to access our site and the information on it.
          %p.list-group-item-text
            %strong 3. What you provide to us
            You are legally responsible for all content including information, data, text, software, sound, graphics, or other materials uploaded or posted with the use of our services. PennyWhale is not responsible for this content. PennyWhale has the right to use this content to provide you with the services we offer in a royalty-free and non-exclusive manner. If any material you provide is lost or not deemed recoverable, it is not the fault of PennyWhale. Please archive your content if you wish for it to be recoverable.
          %p.list-group-item-text
            %strong 4. Access to other accounts and services
            Some of our Services may require you to give us access to or require you to provide login information and password information for accounts or services you may have with third party providers. Please read all contracts and all agreements before doing so. 
          %p.list-group-item-text
            %strong 5. Comments and Feedback
            All comments, feedback, and information left on our site or directed at us is not confidential and you hereby grant us a worldwide, perpetual, royalty-free license to reproduce, display, perform, distribute, publish, modify, edit or otherwise use such comments as we deem appropriate, for any and all commercial and/or non-commercial purposes, in our sole discretion
          %p.list-group-item-text
            %strong 6. Copyright Complaint Policy 
            If you believe any materials of your work have been infringed upon please contact us and our respective agents.
          %p.list-group-item-text
            %strong 7. Rules
            %ul
              %li You are at least 18 years old
              %li the account information you provide us is of your identity and is true in all aspects
              %li you will not use our materials for any unlawful purposes 
              %li you will not use our services to impersonate another person 
              %li You may not send or post content that contains spam, viruses, word, Trojan horses, or computer code that will cause harm 
              %li you may not share your password or let other users access your account. 
              %li you may not access other users account 
              %li you may not send or post sexual content or use profanity on our site
          %p.list-group-item-text PennyWhale has the ultimate decision to determine whether an account or individual is in violation of these rules. We have the right to suspend an account that we deem has violated our terms of use.
          %p.list-group-item-text
            %strong 8. Fees
            There is only a month-to-month payment method. Every month clients will be billed the appropriate charge for our service. Only services indicated with “free” or “no charge” are not subject to payment. If you would like to cancel you may do so anytime.
          %p.list-group-item-text
            %strong 9. Taxes
            You take full responsibility for all taxes and fees of any nature associated with Services, including any sales tax related to the purchase or sale of Commercial Products. PennyWhale shall not be liable for any taxes or other fees to be paid in accordance with or related to the Commercial Products.
          %p.list-group-item-text
            %strong 10. Termination
            Services may be terminated by you, ultimately when you cancel your account. Services to you may also be terminated by us for reasons specified above. PennyWhale may terminate Services at any time, without penalty and without notice, if you fail to comply with any of the terms of this Agreement or the intellectual property protections applicable
          %p.list-group-item-text
            %strong 11. Third Party Services
            The Site may contain links to other web sites owned by third parties. Please note that when you click on any of these links, you are entering another website for which we have no responsibility or control. PennyWhale is not responsible for any activity occurring within Third Party Services, even if logged in through or linked to a PennyWhale account.
          %p.list-group-item-text
            You agree that we shall not be responsible for any loss or damage of any sort incurred as a result of your use of any Third Party Sites and/or Third Party Services, whether or not you were linked to or directed to a Third Party Site or Third Party Service through the Site.
          %p.list-group-item-text
            %strong 12. Liability
            PennyWhale is not liable for any damage done to you or your computer. You are agreeing to use our site and are following our terms and conditions. Please take notice of this when using our site. We will not pay for any damage done to your computer, business, or data. 
          %p.list-group-item-text
            %strong 13. Amendments
            We reserve the right, in our sole discretion, to modify or replace any part of this Agreement at any time, effective upon the date of the change. In the event of any such change, we will post a notice on the Site that we have changed this Agreement.  If you have a PennyWhale account, we may, but are not required to, provide you with notice via the email address that we have on file for you that we have changed this Agreement. 
          %p.list-group-item-text
            %strong 14. Disputes
            The formation, interpretation and performance of this Agreement and any disputes arising out of it shall be governed by the substantive and procedural laws of the state of Georgia without regard to its rules on conflicts or choice of law and, to the extent applicable, the laws of the United States of America.
    .col-lg-2
