<!--
#wrap
{
   border:1px solid #cccccc;
   -moz-border-radius: 6px; 
   -webkit-border-radius: 6px; 
   border-radius:6px;
   padding:0 5px 5px 5px;
}

#wrap:hover {border-color:#999999;}

#grid
{ 
   text-align:center;
   border-spacing:0px;
}

#grid thead {font-size:11px; line-height:20px; font-weight:700;}

#grid tbody tr  {margin:0; padding:0; height:18px;}
#grid tbody td  {margin:0; border:1px solid #ffffff; border-left:none; border-right:none;}


#grid tbody {font-size:11px;}

#grid tbody {font-size:10px; line-height:12px;}
#grid tbody .buy{color:#008800;}
#grid tbody .sell{color:#ff0000;}
#grid tbody td {border-top-color:#f4f4f4;}

#grid a
{
   text-decoration:none;
}

#grid a {color:#0000ff;}
#grid a span {color:#000000;}
#grid a:hover , #grid a:hover *{color:#ff7700;}

#grid tbody tr:hover td {border-color:#777777;}

#grid tbody .hist a 
{
   display:block;
   border:1px solid #cccccc;
   -moz-border-radius: 3px; 
   -webkit-border-radius: 3px; 
   border-radius:3px;
}

#grid tbody .hist a:hover {border-color:#777777;}

#grid .q_chg:hover td {border-top-color:#f5f5f5; border-bottom-color:#ffffff;}

-->
