<!--

#mb
{
   position:relative;
   width:1000px;
   height:100%;
   margin-left:auto; margin-right:auto;
   background-color:#ffffff;
   border:none;
}


#ad0 {position:absolute; width:162px; height:602px; top:250px; left:740px; margin:0; padding:0; border:none;}

#main
{
   margin-left:10px; margin-top:25px;
   width:655px;
   min-height:700px;
}


#main p#hd {margin-bottom:5px; font-size:14px; color:#b2b2b2; font-weight:700;}
#main p#man_name {margin-top:2px; margin-bottom:73px; font-size:12pt; color:#000099;}


#grid
{ clear:both;
   margin-left:0px;
   margin-top:5px;
}

#grid thead img {border:none; margin:0px; margin-left:6px;}

#grid thead .pct a {font-size:10px; line-height:10px;}


#grid .hist {width:30px;}
#grid .stock {width:330px;}
#grid .act {width:115px;}
#grid .shares {width:100px;}
#grid .pct {width:70px;}

#grid .q_chg td 
{
   height:15px;
   padding-left:10px;
   padding-top:8px;
   padding-bottom:0px;
   text-align:left;
   border-left:none;
   border-right:none;
}



-->
