#query-main
  %h2 Headlines for AAPL, GOOG
  %ul
    %li
      = link_to "Some Headline Here", "http://google.com"
    %li
      = link_to "Some Headline Here", "http://google.com"
    %li
      = link_to "Some Headline Here", "http://google.com"
    %li
      = link_to "Some Headline Here", "http://google.com"