// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pages p {
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.6;
}

#pages li {
	line-height: 1.6;
}

#pages strong {
	display: block;
	margin-bottom: 5px;
}